@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.columnLabel {
    margin: 10px
}

.columnInput {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
